:root {
  /* COLORS */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}
/* GENERAL STYLE */
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: var(--slate);
}
ul {
  list-style-type: none;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
/* GENERAL LAYOUT */
/* * {border:1px solid var(--green); */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  
/* HEADER */
header .container {
  flex-direction: row;
  justify-content: space-around;
}
.logo,
.logo-text-tp,
.logo-text-btm {
  /* STYLE */
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-text-tp {
  /* STYLE */
  color: var(--navyblue);
}
.logo-text-btm {
 /* STYLE */
  color: var(--cloud);
}
.navigation {
  /* LAYOUT */
  display:flex;
  gap:40px;
}

.nav-list {
  /* STYLE */
  color: var(--slate);
  font-weight: 500;
  letter-spacing: 0.02em;
  /* LAYOUT */
  display: flex;
  gap: 40px;
}
.navigation .logo {
  /* LAYOUT */
  align-self: center;
}
.contacts {
  /* STYLE */
  font-style: normal;
  letter-spacing: 0.02em;
}
.contacts-list {
  /* LAYOUT */
  display:flex;
  gap:40px;
}
.contact-element:hover,
.nav-list-element:hover,
.nav-list-element:focus,
.contact-element:focus {
 /* STYLE */
  color: var(--ocean);
}

/* Main-page */
.main-text {
 /* STYLE */
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
.call-to-action .container{
  /* LAYOUT */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 100%;
  height: 600px;
  /* STYLE */
  background-color: var(--navyblue);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--white);
}
.order-btn {
 /* STYLE */
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
}
.order-btn:hover,
.order-btn:focus {
 /* STYLE */
  background-color: var(--ocean);
}
/* Advantages section */
.advantage {
 /* STYLE */
  visibility: hidden;
}
.advantage-list {
  /* LAYOUT */
  display: flex;
  gap: 24px;
  margin: 120px 156px;
}
.advantage-header {
 /* STYLE */
  color: var(--navyblue);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}
.advantage-text {
 /* STYLE */
  font-size: 16px;
  letter-spacing: 0.02em;
}
/* Team section */
.section-header {
 /* STYLE */
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navyblue);
  text-transform: capitalize;
}
.team .container{
  /* LAYOUT */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
  width: 100%;
  height: 732px;
  /* STYLE */
  background-color: var(--cloud);
}
.team-list {
  /* LAYOUT */
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 24px;
}
.team-member {
 /* STYLE */
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.member-name {
  /* LAYOUT */
  margin-top: 32px;
  /* STYLE */
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navyblue);
}
.member-position {
  /* LAYOUT */
    margin-top: 8px;
  margin-bottom: 32px;
  /* STYLE */
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}
/* Product section */
.our-portfolio .container{
  /* LAYOUT */
  padding-top: 120px;
}
.product-list {
  /* LAYOUT */
  padding: 120px 156px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  flex-basis: calc((100% - 48px) / 3);
}
.product-list li {
  border: 1px solid var(--cornflower);
}
.product-name {
  /* LAYOUT */
  padding: 32px 0 0 16px;
 /* STYLE */
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.product-type {
  /* LAYOUT */
  padding: 0 0 32px 16px;
 /* STYLE */
  font-size: 16px;
  letter-spacing: 0.02em;
}
/* Footer */
.footer-container {
  /* LAYOUT */
  display: flex;
  height: 312px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 156px;
  gap: 16px;
}
.footer-context {
  /* STYLE */
  background-color: var(--navyblue);
}
.footer-text {
  /* STYLE */
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
  /* LAYOUT */
  display: block;
  width: 264px;
}