  :root{
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyblue-modal:rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: var(--slate);
}
ul {
  list-style-type: none;
}
.logo,
.logo-text-tp,
.logo-text-btm {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-text-tp {
  color: var(--navyblue);
}
.logo-text-btm {
  color: var(--cloud);
}
.main-nav,
.nav-element {
  color: var(--slate);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.contacts {
  font-style: normal;
  letter-spacing: 0.02em;
}
.contact-element:hover,
.nav-element:hover,
.nav-element:focus,
.contact-element:focus {
  color: var(--ocean);
}
.main-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
.order-service {
  background-color: var(--slate);
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}
.order-btn {
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.order-btn:hover,
.order-btn:focus {
  background-color: var(--ocean);
}
.advantage-header {
  color: var(--navyblue);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}
.advantage-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navyblue);
  text-transform: capitalize;
}
.team {
  background-color: var(--cloud);
}
.team-member {
  background-color: var(--white);
}
.member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.member-position {
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}
.product {
  background-color: var(--white);
}
.product-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.product-type {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.footer-context {
  background-color: var(--navyblue);
}
.footer-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
